*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color: white;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
  }
  
body{
    background-color: wheat;
}

/*bar*/
.bar{
    position: relative;
    width: 100%;
    /* height: 170px; */
    z-index: 9999;
}

.bar img{
    width: 100%;
    height: 130px;
    position: fixed;
    top: -5px;
    border-radius: 0;
}

#img2 , #img3 , #img4 {
    display: none;
}

/*logo*/
header{
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 9999;
}

#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-top: 50px;
    display: none;
}

.navbar{
    display: flex;
    margin: 20px;
    margin-top: 20px;
    padding: 37px 80px;
    padding-left: 300px;
}

.navbar li{
    position: relative;
    margin: 10px 20px;
}

.navbar a{
    font-size :var(--p-font);
    color: cornflowerblue;
    font-weight: 800;
    margin: 20px 20px;
    font-size: 1rem;
    transition:  all .40s ease;
    text-decoration: none;
}

.navbar a:hover{
    background: var(--text-color);
    color: blue;
    padding: 3px;
    border-radius: 10px;
}

.login{
    /* margin-right: 20px; */
    margin: 10px auto;
    margin-right: 2px;
    padding-top: 10px;
}

.login a{
    margin-right: 15px;
    color: #fff !important;
    text-decoration: none;
}

a{
    margin: auto;
    color: var(--text-color); 
    width: 80px;
    height: 25px;
    border-radius: 15px;
} 

.login a:hover{
    border-radius: 10px;
    background-color: blue;
    font-weight: 800;
    padding: 5px;
}

.icon, .content-text{
    display: table-cell;
    vertical-align: middle;
}

/* .content-email img,  */
.content-phone img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

.content-phone img{
    width: 30px!important;
}

.content-phone{
    position: absolute;
    right: -55px;
    top: 60px;
    min-width: 280px;
    color: yellow;
    font-size: 14px;
    font-weight: 500;
}

.content-phone img{
    width: 35px;
    margin-right: 10px;
}

.contact-page{
    width: auto;
    margin-top: 140px;
}

.text{
    font-size: 30px;
    color: rgb(237, 59, 59);
    text-align: center;
    /* padding-top: 20px; */
}

.address{
    text-align: center;
    padding-top: 150px;
    color: black;
    font-weight: 600;
}

.contact{
    display: flex;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.map{
    margin-right: 40px;
    padding-top: 28px;
}

@media(max-width: 425px){

    #img2 , #img3 , #img4 {
        display: block;
      }
      
      #img3{
        width: 160px;
        margin-left: 265px;
        padding-top: 55px;
        height: 108px;
      }
      
      #img4{
        width: 160px;
        padding-top: 50px;
        height: 110px;
        margin-left: 50px;
      }

    .bar img{
    width: 425px;
    display: none;
    }

    .navbar a{
        display: none;
    }

    .navbar{
        width: 425px;
        position: absolute;
        top: -700px;
        flex-direction: column;
        background: #f6d322;
        transition: all .30s;
        margin: auto;
    }

    .navbar a{
    display: block;
    padding: -1.1rem;
    margin-left: -265px;
    }

    .navbar a:hover{
        background: burlywood;
    }
    .navbar.active{
        top: 100%;
    }

    #menu-icon{
        font-size: 32px;
        color: var(--text-color);
        cursor: pointer;
        margin-top: 60px;
        display: block;
        margin-left: 4px;
      }
      .login{
        display: flex;
        margin-left: 215px;
        padding-top: 0;
    }

    .contact-page{
        height: 85px;
    }
    .contact{
        display: block;
    }

    .address{
        font-size: 10px;
    }

    /* #contact span{
        font-size: 10px;
    } */
}


@media (min-width:426px) and (max-width: 768px){
    .login{
        margin-left: 330px !important;
    }

    .navbar{
        padding-left: 490px !important;
    }
}

@media(min-width:426px) and (max-width:1024px){
    .bar img{
        width: 100%;
      }
      .navbar a{
        display: none;
      }
    
      .navbar{
        width: 100%;
        position: absolute;
        top: -700px;
        flex-direction: column;
        background: #f6d322;
        transition: all .30s;
        margin: auto;
    }
    
      .navbar a{
          display: block;
          padding: -1.1rem;
          margin-left: -265px;
      }
    
      .navbar li{
        margin-left: -580px;
      }
      .navbar a:hover{
          background: burlywood;
      }
      .navbar.active{
          top: 100%;
      }
    
      #menu-icon{
        font-size: 32px;
        color: var(--text-color);
        cursor: pointer;
        margin-top: 70px;
        display: block;
        margin-left: 246px;
    }
    
    .login{
        margin-left: 543px;
    }
}
