*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --text-color: white;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}

body{
  background: #f4f4a4;
}

/*bar*/
.bar{
  position: relative;
  width: 100%;
  /* height: 170px; */
  z-index: 9999;
}

.bar img{
  width: 100%;
  height: 130px;
  position: fixed;
  top: -5px;
  border-radius: 0;
}

#img2 , #img3 , #img4 {
  display: none;
}

/*logo*/
header{
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: flex-start;
  z-index: 9999;
}

#menu-icon{
  font-size: 32px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  margin-top: 50px;
  display: none;
}

.navbar{
  display: flex;
  margin: 20px;
  margin-top: 20px;
  padding: 37px 80px;
  padding-left: 300px;
}

.navbar li{
  position: relative;
  margin: 10px 20px;
}

.navbar a{
  font-size :var(--p-font);
  color: cornflowerblue;
  font-weight: 800;
  margin: 20px 20px;
  font-size: 1rem;
  transition:  all .40s ease;
  text-decoration: none;
}

.navbar a:hover{
  background: var(--text-color);
  color: blue;
  padding: 3px;
  border-radius: 10px;
}

.login{
  /* margin-right: 20px; */
  margin: 10px auto;
  margin-right: 2px;
  /* padding-top: 10px; */
}

.login a{
  margin-right: 15px;
}

a{
  margin: auto;
  color: var(--text-color);
  width: 80px;
  height: 25px;
  border-radius: 15px;
} 

.login a:hover{
  border-radius: 10px;
  background-color: blue;
  font-weight: 800;
  padding: 5px;
}

.icon, .content-text{
  display: table-cell;
  vertical-align: middle;
}

/* .content-email img,  */
.content-phone img{
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.content-phone img{
  width: 30px!important;
}

.content-phone{
  position: absolute;
  right: -55px;
  top: 60px;
  min-width: 280px;
  color: yellow;
  font-size: 14px;
  font-weight: 500;
}

.content-phone img{
  width: 35px;
  margin-right: 10px;
}

.contact-page{
  width: auto;
  margin-top: 140px;
}

/* recommend */
.recommend{
  padding-top: 147px;
  border-bottom: 2px solid gray;
}

.recommend h1{
  text-align: center;
  color: darkgray;
  font-size: 30px;
  margin-bottom: 30px;
  
}

.box img{
  width: 80%;
  margin-left: 127px;
  margin-bottom: 30px;
}

/*footer*/
/* .footer{
  background: wheat;
  height: 310px;
}

.footer-item{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 0.5rem;
}

.footer-text h3{
  font-size: 30px;
  padding-top: 40px;
  color: gray;
  margin-left: 400px;
}

.join {
  color: gray;
  padding-left: 10px;
}

.join h3, p, a {
  margin-bottom: 5px;
}

.email img, h4, a{
  margin-bottom: 5px;
}
.phone img, h4, span{
  margin-bottom: 5px;
}

.email{
  margin-right: 20px;
}

.email a{
  color: gray;
}

.email h4{
  color: gray;
  font-size: 20px;
}

.email img{
  width: 30px;
  height: 30px;
}

.phone img{
  width: 30px;
  height: 30px;
}

.phone h4{
  color: gray;
  font-size: 20px;
}

.phone span{
  color: gray;
  font-weight: 600;
}

.link{
  margin-top: -40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.link h4{
  margin-bottom: 20px;
  font-size: 30px;
  color: gray;
}

.link a{
  color: gray !important;
  text-decoration: none;
  line-height: 20px;
} 

#line{
  height: 222px;
  width: 120px;
} */

.footer{
  background: wheat;
}

.footer-item h3{
  font-size: 20px;
  color: gray;
}

.contact-item img{
  width: 30px;
  height: 30px;
}

.footer-item{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 0.5rem;
}

.join{
  margin-left: 120px;
}

.join h3{
  margin-bottom: 30px;
  margin-top: -40px;
}

.join-item p{
  color: gray;
}

.contact h3{
  margin-bottom: 40px;
}

.link h3{
  margin-top: 45px;
  margin-bottom: 20px;
}

.contact-item span{
  color: gray;
}

.link-item a{
  color: gray !important;
}

@media(max-width:360px){
  .bar img{
      width: 360px;
      display: none;
  }

  #img2 , #img3 , #img4 {
      display: block;
  }

  #img3{
      width: 145px;
      margin-left: 215px;
      padding-top: 55px;
      height: 105px;
  }

  #img4{
      width: 145px;
      padding-top: 50px;
      height: 110px;
      margin-left: 60px;
  }

  .home{
      height: 383px;
  }

  .home-text{
      top: -180px;
  }

  .home-text h1 {
      padding-top: 150px;
  }

  .home-text h1, .home-text h3 {
      font-size: 15px;
  }

  .navbar a{
      display: none;
  }

  .navbar{
      width: 425px !important;
      position: absolute !important;
      top: -700px !important;
      flex-direction: column !important;
      background: #f6d322 !important;
      transition: all .30s !important;
      margin: auto !important;
  }

  .navbar a{
      display: block !important;
      padding: -1.1rem !important;
      margin-left: -265px !important;
  }

  .navbar a:hover{
      background: burlywood !important;
  }
  .navbar.active{
      top: 135% !important;
  }
 

  #menu-icon{
      font-size: 32px;
      color: var(--text-color);
      cursor: pointer;
      margin-top: 60px;
      display: block;
      margin-left: 5px;
  }

  .login{
      display: flex;
      padding-top: 0px;
      margin-left: 140px;
  }

  .box img{
    width: 75%;
    margin-left: 45px;
    margin-bottom: 30px;
  }

  /* footer */

  /* .footer{
    height: 730px;
}

.footer-text h3{
    margin-left: 105px;
    margin-bottom: 30px;
}

.join p{
    font-size: 16px;
}

.email, .phone{
    padding-left: 20px;
}

.email h4{
    font-size: 18px;
}

.contact a{
    font-size: 13px;
    font-weight: 700;
}

.phone h4{
    font-size: 18px;
}

.phone span{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.join{
    margin-left: 10px;
}

.link{
    padding-top: 30px;
}

.link h4{
    margin-left: 80px;
}

.verticle-line{
    margin-left: 80px;
}

.contact{
    margin-left: 10px;
}

.footer-item{
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
}

#line{
    display: none;
} */

.join{
  margin-left: 0;
  margin-top: 30px;
}

.join h3{
  margin-top: 10px;
}

.contact h3{
  margin-bottom: 20px;
}

.hrline{
  margin: 10px 130px !important;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  text-align: center ;
}

}

@media (min-width:361px) and (max-width:375px){
  .bar img{
    width: 100%;
    display: none;
}

#img2 , #img3 , #img4 {
    display: block;
}

#img3{
    width: 150px;
    margin-left: 225px;
    padding-top: 55px;
    height: 108px;
}

#img4{
    width: 150px;
    padding-top: 50px;
    height: 110px;
    margin-left: 60px;
}

.home{
    height: 383px;
}

.home-text{
    top: -180px;
}

.home-text h1 {
    padding-top: 150px;
}

.home-text h1, .home-text h3 {
    font-size: 15px;
}

.navbar a{
    display: none;
}

.navbar{
    width: 425px !important;
    position: absolute !important;
    top: -700px !important;
    flex-direction: column !important;
    background: #f6d322 !important;
    transition: all .30s !important;
    margin: auto !important;
}

.navbar a{
    display: block !important;
    padding: -1.1rem !important;
    margin-left: -265px !important;
}

.navbar a:hover{
    background: burlywood !important;
}
.navbar.active{
    top: 135% !important;
}


#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 60px;
    display: block;
    margin-left: 20px;
}

.login{
    display: flex;
    padding-top: 0px;
    margin-left: 155px;
}

.box img{
  width: 70%;
  margin-left: 59px;
  margin-bottom: 30px;
}

/* .footer{
  height: 730px;
}

.footer-text h3{
  margin-left: 105px;
  margin-bottom: 30px;
}

.join p{
  font-size: 16px;
}

.email, .phone{
  padding-left: 20px;
}

.email h4{
  font-size: 18px;
}

.contact a{
  font-size: 13px;
  font-weight: 700;
}

.phone h4{
  font-size: 18px;
}

.phone span{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.join{
  margin-left: 10px;
}

.link{
  padding-top: 30px;
}

.link h4{
  margin-left: 80px;
}

.verticle-line{
  margin-left: 80px;
}

.contact{
  margin-left: 10px;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
}

#line{
  display: none;
} */

.join{
  margin-left: 0;
  margin-top: 30px;
}

.join h3{
  margin-top: 10px;
}

.contact h3{
  margin-bottom: 20px;
}

.hrline{
  margin: 10px 140px !important;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  text-align: center ;
}
}

@media (min-width:376px) and (max-width: 425px){
  .bar img{
    width: 100%;
    display: none;
}

#img2 , #img3 , #img4 {
  display: block;
}

#img3{
  width: 160px;
  margin-left: 265px;
  padding-top: 55px;
  height: 108px;
}

#img4{
  width: 160px;
  padding-top: 50px;
  height: 110px;
  margin-left: 50px;
}

  .navbar a{
    display: none;
}

.navbar{
    width: 425px;
    position: absolute;
    top: -700px;
    flex-direction: column;
    background: #f6d322;
    transition: all .30s;
    margin: auto;
}

.navbar a{
  display: block;
  padding: -1.1rem;
  margin-left: -265px;
}

.navbar a:hover{
    background: burlywood;
}
.navbar.active{
    top: 135%;
}

  #menu-icon{
    font-size: 32px;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 60px;
    display: block;
    margin-left: 4px;
  }
  .login{
    display: flex;
    /* padding-top: 5px; */
    margin-left: 215px;
}


.login a{
margin-right: 28px;
}

.recommend{
  padding-top: 135px;
}


  .box img{
    width: 300px;
    height: 400px;
    margin-left: 65px;
  }

  /* .footer{
    height: 730px;
}

.footer-text h3{
    margin-left: 105px;
    margin-bottom: 30px;
}

.join p{
    font-size: 16px;
}

.email, .phone{
    padding-left: 20px;
}

.email h4{
    font-size: 18px;
}

.contact a{
    font-size: 13px;
    font-weight: 700;
}

.phone h4{
    font-size: 18px;
}

.phone span{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.join{
    margin-left: 10px;
}

.link{
    padding-top: 30px;
}

.link h4{
    margin-left: 80px;
}

.verticle-line{
    margin-left: 80px;
}

.contact{
    margin-left: 10px;
}

.footer-item{
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
}

#line{
    display: none;
} */

.join{
  margin-left: 0;
  margin-top: 30px;
}

.join h3{
  margin-top: 10px;
}

.contact h3{
  margin-bottom: 20px;
}

.hrline{
  margin: 10px 160px !important;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(360px, auto));
  text-align: center ;
}

}

@media (min-width:426px) and (max-width: 768px){
  .login{
    margin-left: 300px !important;
  }

  .navbar a{
    display: none;
}

.navbar{
    width: 425px !important;
    position: absolute !important;
    top: -700px !important;
    flex-direction: column !important;
    background: #f6d322 !important;
    transition: all .30s !important;
    margin: auto !important;
}

.navbar a{
    display: block !important;
    padding: -1.1rem !important;
    margin-left: -265px !important;
}

.navbar a:hover{
    background: burlywood !important;
}
.navbar.active{
    top: 133% !important;
}


#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 60px;
    display: block;
    margin-left: 230px;
}


  .box img{
    margin-left: 80px !important;
  }

  /* .footer{
    height: 515px;
}

.footer-text h3{
    margin-left: 270px;
    margin-bottom: 30px;
}

.join p{
    font-size: 16px;
}

.email, .phone{
    padding-left: 20px;
}

.email h4{
    font-size: 18px;
}

.contact a{
    font-size: 13px;
    font-weight: 700;
}

.phone h4{
    font-size: 18px;
}

.phone span{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.join{
    margin-left: 10px;
}

.link{
    padding-top: 30px;
}

.link h4{
    margin-left: 80px;
}

.verticle-line{
    margin-left: 80px;
}

.contact{
    margin-left: 10px;
}

.footer-item{
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
}

#line{
    display: none;
} */

.footer{
  height: 280px;
}

.footer-text h3{
  margin-left: 270px;
  margin-bottom: 30px;
}

.join p{
  font-size: 16px;
}

.contact a{
  font-size: 13px;
  font-weight: 700;
}

.phone span{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.join{
  margin-left: 20px;
}

.join h3{
  margin-top: -45px;
}

.link{
  padding-top: 30px;
}

.link h3{
  margin-top: 19px;
}

.contact{
  margin-left: 10px;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
}
}

@media(min-width: 769px) and (max-width: 1024px){
  .bar img{
    width: 100%;
  }
  .navbar a{
    display: none;
  }

  .navbar{
      width: 600px;
      position: absolute;
      top: -700px;
      flex-direction: column;
      background: #f6d322;
      transition: all .30s;
      margin: auto;
  }

  .navbar a{
      display: block;
      padding: -1.1rem;
      margin-left: -265px;
  }

  .navbar a:hover{
      background: burlywood;
  }
  .navbar.active{
      top: 122%;
  }

  #menu-icon{
    font-size: 32px;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 70px;
    display: block;
    margin-left: 246px;
}

.login{
    margin-left: 543px;
    padding-top: 0px !important;
}

/* .footer{
  height: 325px;
  width: 1030px;
}

.footer-text h3{
  margin-left: 445px;
  margin-bottom: 30px;
}

.join p{
  font-size: 16px;
}

.email, .phone{
  padding-left: 20px;
}

.email h4{
  font-size: 18px;
}

.contact a{
  font-size: 13px;
  font-weight: 700;
}

.phone h4{
  font-size: 18px;
}

.phone span{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.join{
  margin-left: 10px;
}

.link{
  margin-top: -87px;
}

.link h4{
  margin-left: 80px;
}

.verticle-line{
  margin-left: 80px;
}

.contact{
  margin-left: 10px;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
} */

.join{
  margin-left: 40px;
  margin-top: 24px;
}

.join h3{
  margin-top: -53px;
}

.contact h3{
  margin-bottom: 20px;
}

.hrline{
  margin: 10px 128px !important;
}

.footer-item{
  grid-template-columns: repeat(auto-fit, minmax(237px, auto));
  text-align: center ;
}
}