*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #f6d322;
    --text-color: white;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}

body{
    background: wheat;
    color: var(--text-color);
}


/*bar*/
.bar{
    position: relative;
    width: 100%;
    /* height: 170px; */
    z-index: 9999;
}

.bar img{
    width: 100%;
    height: 130px;
    position: fixed;
}

/* .bar-text h4{
    position: fixed;
    font-style: italic;
    font-size: medium;
    font-weight: 400;
    color: var(--text-color);
    top: 10px;
} */

/*logo*/
header{
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 9999;
}

/* .menu{
    padding-left: 10px;
}

.image
{
    width: 300px;
    height: 80px;
    margin: 40px 30px;
} */
/* header */
#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-top: 50px;
    display: none;
}



.navbar{
    display: flex;
    margin: 20px;
    margin-top: 20px;
    /* padding: 37px 80px; */
    padding: 37px 80px;
    padding-left: 300px;
}

.navbar li{
    position: relative;
    margin: 10px 20px;
}

.navbar a{
    font-size :var(--p-font);
    color: cornflowerblue;
    font-weight: 800;
    margin: 20px 20px;
    font-size: 1rem;
    transition:  all .40s ease;
}

.navbar a:hover{
    background: var(--text-color);
    color: blue;
    padding: 3px;
    border-radius: 10px;
}

.login{
    /* margin-right: 20px; */
    padding-left: -2px;
}

.login button{
    margin-top: 9px;
    border: none;
    color: var(--text-color);
    background-color: blue;
    font-weight: 400;
    margin-left: 23px;
}

button{
    margin: auto;
    width: 80px;
    height: 25px;
    border-radius: 15px;
} 

.login button:hover{
    background: var(--text-color);
    padding: 3px;
    border-radius: 10px;
    color: blue;
    font-weight: 800;
}

.content-email{
    position: absolute;
    right: 26px;
    top: 43px;
    width: auto;
    color: yellow;
    font-size: 13px;
}

.content-email img{
    width: 30px;
    margin-right: 10px;
}

.icon, .content-text{
    display: table-cell;
    vertical-align: middle;
}

.content-email img, .content-phone img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

.content-phone img{
    width: 30px!important;
}

.content-phone{
    position: absolute;
    right: -69px;
    top: 80px;
    min-width: 280px;
    color: yellow;
    font-size: 13px;
}

.content-phone img{
    width: 35px;
    margin-right: 10px;
}






/* .wrapper{
    position: flex;
}

.modalForm{
    display: flex;
    
}

.actionBtns{
    right: -97px;
    position: relative;
    margin-top: 45px;
}

.actionBtn:hover{
    background-color: var(--bg-color);
    width: auto;
    padding: 6px;
}

.actionBtn{
    width: 50px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 30px;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px auto;
    
} */

/* .inputGroup{
    width: 300px;
    margin: 0.8rem 0;
    background-color: whitesmoke;
}

.inputGroup input{
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

.inputGroup input:focus{
    outline: none;
}

.submitBtn{
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    box-shadow: whitesmoke;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
}

.submitBtn:hover{
    background-color: royalblue;
    color: wheat;
    transition: all 0.3s ease-in-out;
}

.form{
    display: none;
} */

/*.signupForm{
    display: block;
}

.loginForm{
    display: block;
}

.moveBtn{
    display: none;
}*/

/*home*/
.home{
    position: relative;
    width: 100%;
    height: 680px;
}

.slider img{
    width: 100%;
    height: 650px;
}

/* #prev {
    left: 20px;
}
#next {
    right: 20px;
} */

#pic2{
    display: none;
}

#pic3{
    display: none;
}

#pic4{
    display: none;
}

#pic5{
    display: none;
}

#pic6{
    display: none;
}
/* .home img{
    width: 100%;
    height: 650px;
} */

.home-text{
    position: relative;
    text-align: center;
    color: var(--grey-color);
    top: -320px;
}

.home-text h1{
    margin: 25px auto;
}

/* button{
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}  */
/* .home-text button{
    width: 200px;
    height: 30px;
    border-radius: 20px;
} */

/* .home-text h1{
    padding: 10px;
}

.home-text h5{
    padding: 5px;
}

button:hover{
    background-color: transparent;
    cursor: pointer;
} */

/*work*/
.work{
    background: wheat;
    width: 100%;
    height: 350px;
    padding: 60 0px;
}
.work h1{
    color: black;
    font-size: 75px;
    width: 1000px;
    margin: 30px auto;
    text-align: center;
}
.work-item{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 2px;
}

/*about*/
.about{
    background: rgb(244, 244, 164);
    width: 100%;
    height: 550px;
    padding: 100px 0px;
}

.about img{
    align-items: center;
    padding: 50px 500px;
}

.about h1{
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: -60px auto;
    text-align: center;
}

.title{
    align-items:flex-start;
    padding-left: 925px;
}

.title b{
    color: blue;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

.title span{
    color: black;
    font-size: 15px;
}

.about p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
    font-size: 20px;
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
    padding-top: 50px;
}

/*partner*/
.partner {
    width: 100%;
    height: 170px;
    position: relative;
    text-align: center;
    display: flex;
    z-index: 1;
    padding-top: 17px;
}

.partner img{
    border-radius: 10px;
}

.p-text h3{
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    color: #f6d322;
}

/*service*/
.service{
    background: var(--bg-color);
    width: 100%;
    height: 700px;
}
.service h1{
    color: white;
    font-size: 50px;
    width: 1000px;
    margin: 0 auto 50px;
    text-align: center;
    padding-top: 20px;
}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 5em;
    align-items: center;
    margin-top: -2.5rem;
    cursor: pointer;
    margin-right: 30px;
}

.box{
    height: 200px;
    padding: 20px 35px;
    border-radius: 30px;
    margin: -3px;
    position: relative;
    text-align: center;
}

.bx {
    /* font-family: boxicons!important; */
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    /* speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-size: 36px;
    padding-bottom: 15px;
}

.box img{
    width: 360px;
    height: auto; 
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .30s;
}

.box h5{
    font-size: 20px;
    /* padding: 20px auto; */
}

.box p{
    color: var(--second-color);
    font-size: var(--p-font);
    padding-top: 10px;
    margin-bottom: 15px;
}

.box img:hover{
    transform: scale(1.1);
}

/*footer*/

.footer{
    background-color: wheat;
}
.footer-text h3{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    color: orange;
}

.footer-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 0.5rem;
    cursor: pointer;
    padding-top: -5px;
}  

.link{
    color: black;
    margin-bottom: 10px;
    padding-left: 30px;
}

.link h3 {
    margin-bottom: 20px;
}

.link a{
    color: black;
    text-decoration: none;
    line-height: 20px;
}

/* .verticle-line{
    width: 200px;
    height: 1px;
    color: black;
}
.verticle-line a{
    margin-top: 30px;
} */


.join {
    color: black;
}


.contact {
    display: flex;
}

.contact img{
    width: 30px;
    height: 30px;
}

.email{
    margin-right: 20px;
}

.email h4{
    color: black;
    font-size: 20px;
}

.contact a{
    color: black;
    font-weight: 500;
}

.phone h4{
    color: black;
    font-size: 20px;
}

.phone h5{
    color: black;
    font-size: 20px;
    font-weight: 300;
}
    


@media(max-width: 1270px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4px;
        transition: .2s;
    }
    .section{
        padding: 80px 4%;
        transition: .2s;
    }

    :root{
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media(max-width:900px){
    .bar img{
        width: 100%;
    }
    .home{
        height: 85vh;
    }
    .img{
        height: auto;
    }
    
    .actionBtns{
        margin-top: 20px;
        right: -60px;
    }

    .work{
        display: block;
    }

    .work h1{
        font-size: 50px;
        width: 1000px;
        margin: -20px auto;
        text-align:justify;
    }

    .about h1{
        text-align: justify;
    }

    .about img{
        padding-left: 20px;
    }

    .service h1{
        text-align: justify;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }

    .navbar a{
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px dotted var(--text-color);
    }

    .navbar a:hover{
        background: burlywood;
    }
    .navbar.active{
        top: 100%;
    }
   

}
.info-details{
    color: red;
    text-align: center;
    line-height: 50px;
}
.info-detail-details{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
    margin-right: 100px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.image{
    padding-left: 20px;
    border-radius: 10%;
}
.image1{
    padding-left: 20px;
    border-radius: 10%;
    margin-top: 70px;
}
.image2{
    padding-left: 20px;
    border-radius: 10%;
    margin-top: 40px;
}
.service_details{
    background-color: #F5DEB3;
    padding-top: 130px;
}
.zoom{
    transition: all .60s;
}
.zoom:hover {
    transform: scale(1.1); 
}
.navbar1{
    display: flex;
    margin: 20px;
    margin-top: 20px;
    padding: 37px 80px;
    padding-left: 300px;
}

.navbar1 li{
    position: relative;
    margin: 10px 20px;
}

.navbar1 a{
    font-size :var(--p-font);
    color: cornflowerblue;
    font-weight: 800;
    margin: 20px 20px;
    font-size: 1rem;
    transition:  all .40s ease;
    text-decoration: none;
}

.navbar1 a:hover{
    background: var(--text-color);
    color: blue;
    padding: 3px;
    border-radius: 10px;
}
