*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #f6d322;
    --text-color: white;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}

body{
    background: wheat;
    color: var(--text-color);
}

/*bar*/
.bar{
    position: relative;
    width: 100%;
    /* height: 170px; */
    z-index: 9999;
}

.bar img{
    width: 100%;
    height: 130px;
    position: fixed;
    top: -5px;
    border-radius: 0;
}

/*logo*/
header{
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 9999;
}

/* header */
#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-top: 50px;
    display: none;
}



.navbar{
    display: flex;
    margin: 20px;
    margin-top: 20px;
    padding: 37px 80px;
    padding-left: 300px;
}

.navbar li{
    position: relative;
    margin: 10px 20px;
}

.navbar a{
    font-size :var(--p-font);
    color: cornflowerblue;
    font-weight: 800;
    margin: 20px 20px;
    font-size: 1rem;
    transition:  all .40s ease;
}

.navbar a:hover{
    background: var(--text-color);
    color: blue;
    padding: 3px;
    border-radius: 10px;
}

 .login{
    /* margin-right: 20px; */
    /* padding-top: 4px; */
    margin: 10px auto;
    margin-right: 2px;
    padding-top: 10px;
}  

.login a{
    margin-right: 15px;
}

a{
    margin: auto;
    color: var(--text-color); 
    width: 80px;
    height: 25px;
    border-radius: 15px;
} 

.login a:hover{ 
    border-radius: 10px;
    background-color: blue;
    font-weight: 800;
    padding: 5px;
}

/* .content-email{
    position: absolute;
    right: 26px;
    top: 43px;
    width: auto;
    color: yellow;
    font-size: 13px;
}

.content-email img{
    width: 30px;
    margin-right: 10px;
} */

/* .icon, .content-text{
    display: table-cell;
    vertical-align: middle;
} */

/* .content-email img,  */
/* .content-phone img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

.content-phone img{
    width: 30px!important;
}

.content-phone{
    position: absolute;
    right: -55px;
    top: 60px;
    min-width: 280px;
    color: yellow;
    font-size: 14px;
    font-weight: 500;
}

.content-phone img{
    width: 35px;
    margin-right: 10px;
} */


/* .wrapper{
    position: flex;
}

.modalForm{
    display: flex;
    
}

.actionBtns{
    right: -97px;
    position: relative;
    margin-top: 45px;
}

.actionBtn:hover{
    background-color: var(--bg-color);
    width: auto;
    padding: 6px;
}

.actionBtn{
    width: 50px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 30px;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px auto;
    
} */

/* .inputGroup{
    width: 300px;
    margin: 0.8rem 0;
    background-color: whitesmoke;
}

.inputGroup input{
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

.inputGroup input:focus{
    outline: none;
}

.submitBtn{
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    box-shadow: whitesmoke;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
}

.submitBtn:hover{
    background-color: royalblue;
    color: wheat;
    transition: all 0.3s ease-in-out;
}

.form{
    display: none;
} */

/*.signupForm{
    display: block;
}

.loginForm{
    display: block;
}

.moveBtn{
    display: none;
}*/

/*home*/
.home{
    position: relative;
    width: 100%;
    height: 680px;
}


/* .slider{
    width: 100%;
    position:absolute;
    float:right;
    animation: rotate 15s infinite linear;
    transform-style:inherit;
}


.slider figure{
    border:1px solid #555;
    overflow:hidden;
    position:absolute;
}



.slider img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 650px;
}

.shadow{ 
    position: absolute; 
    box-shadow: 0px 0px 0px #000; 
 }

 .slider figure:nth-child(1){
    transform:rotateY(0deg) translateZ(300px);
  }
   
.slider figure:nth-child(2){
    transform:rotateY(40deg) translateZ(300px);
}
.slider figure:nth-child(3){
    transform:rotateY(80deg) translateZ(300px);
}
.slider figure:nth-child(4){
    transform:rotateY(120deg) translateZ(300px);
}
.slider figure:nth-child(5){
    transform:rotateY(160deg) translateZ(300px);
}
.slider figure:nth-child(6){
    transform:rotateY(200deg) translateZ(300px);
}

@keyframes rotate {
    from{
    transform: rotateY(0deg);
    }
    to{
    transform: rotateY(360deg);
    }
} */

.auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 10px 10px 20px;
    background: #fff;    
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    top: 126px;
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; border-radius: 0; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite; 
}

/* Slider indicator */
.indicator{
    width: 100%;
    max-width: 720px;
    height: 650px;
    background: #e41b17;
    position: absolute;
    bottom: 0;
    animation: indicating 5s ease infinite; 
    
}

@keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
}        

@keyframes indicating{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}  

.home-text{
    position: relative;
    text-align: center;
    color: var(--grey-color);
    top: -187px;
}

.home-text h1{
    margin: 25px auto;
}

/*work*/
.work{
    background: wheat;
    width: 100%;
    height: 263px;
    padding: 56px 0;
}
.work h1{
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: -60px auto;
    text-align: center;
}

.work-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, auto));
    /* grid-gap: 5em; */
    align-items: center;
    margin-top: 6.5rem;
    /* cursor: pointer; */
    margin-right: 30px;
}

.work-img img{
    width: 40px;
    height: auto;
    border-radius: 100%;
    margin-left: 143px;
    margin-bottom: 10px;
}

.work-img h3{
    text-align: center;
    color: black;
}

.work-img h5{
    text-align: center;
    color: black;
    padding-top: 10px;
    margin: 5px 50px;

}

/*about*/
.about{
    /* position: relative; */
    background: rgb(244, 244, 164);
    width: 100%;
    height: 530px;
    padding: 100px 0px;
}

.about h1{
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: -60px auto;
    text-align: center;
}

.about p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
    font-size: 20px;
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
    padding-top: 95px;
    margin-bottom: -80px;
    line-height: 27px;
}

.about img{
    border-radius:0;
    padding-top: 110px;
    margin-left: 170px;
    margin-right: 90px;
}

.about a img{
    width: 316px;
    height: 215px;
    margin-left: 278px;
}

#hover-img:hover{
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    width: 308px;
    height: 207px;
    transition: 0.6s ease-out;
    /* border-radius: 10px; */
    /* transform:scale(0.3);  */  
    /* border: 1px solid skyblue; */
}

/*partner*/
.part{
    width: 100%;
    height: 250px;
}
/* .partner {
    width: 100%;
    height: 170px;
    position: relative;
    text-align: center;
    display: flex;
    z-index: 1;
    padding-top: 17px;
}

.partner img{
    border-radius: 10px;
} */

.partner {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #ecdcc0;
    --size: 200px;
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
    padding-top: 15px;
  }
  
  @media (prefers-color-scheme: dark) {
    .partner {
      --color-text: papayawhip;
      --color-bg: navy;
      --color-bg-accent: #2626a0;
    }
  }

  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  
  .marquee--vertical {
    --mask-direction: to bottom;
  }
  
  .marquee--vertical,
  .marquee--vertical .marquee__group {
    flex-direction: column;
  }
  
  .marquee--vertical .marquee__group {
    animation-name: scroll-y;
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
  }
  img{
    border-radius: 20px;
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
  
  @keyframes scroll-y {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }
  
  /* Element styles */
  .marquee img {
    display: grid;
    place-items: center;
    width: var(--size);
    fill: var(--color-text);
    aspect-ratio: 16/9;
    border-radius: 0.5rem;
  }
  
  .marquee--vertical svg {
    aspect-ratio: 1;
    width: calc(var(--size) / 1.5);
    padding: calc(var(--size) / 6);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  .wrapper--vertical {
    flex-direction: row;
    height: 100vh;
  }

  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

.p-text h3{
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    color: blue;
}

/*service*/
.service{
    background: var(--bg-color);
    width: 100%;
    height: 700px;
    /* position: relative; */
}
.service h1{
    color: white;
    font-size: 50px;
    width: 1000px;
    margin: 80px auto;
    text-align: center;
    padding-top: 20px;
}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 5em;
    align-items: center;
    margin-top: -2.5rem;
    cursor: pointer;
    margin-right: 30px;
}

.box{
    height: 200px;
    padding: 20px 35px;
    border-radius: 30px;
    margin: -3px;
    position: relative;
    text-align: center;
}

.bx {
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    font-size: 36px;
    padding-bottom: 15px;
}

.box img{
    width: 360px;
    height: auto; 
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .30s;
}

.box h5{
    font-size: 20px;
    /* padding: 20px auto; */
}

.box p{
    color: var(--second-color);
    font-size: var(--p-font);
    padding-top: 10px;
    margin-bottom: 15px;
}

.box img:hover{
    transform: scale(1.1);
}

/*footer*/

.footer{
    background-color: wheat;
}
.footer-text h3{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    color: orange;
}

.footer-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 0.5rem;
    cursor: pointer;
    padding-top: -5px;
}  

.link{
    color: black;
    margin-bottom: 10px;
    padding-left: 30px;
}

.link h3 {
    margin-bottom: 20px;
}

.link a{
    color: black;
}

/* .verticle-line{
    width: 200px;
    height: 1px;
    color: black;
}
.verticle-line a{
    margin-top: 30px;
} */


.join {
    color: black;
}


.contact {
    display: flex;
}

.contact img{
    width: 30px;
    height: 30px;
}

.join p{
    font-size: 18px;
    font-weight: 500;
}

.join h5{
    font-size: 18px;
}

.email{
    margin-right: 20px;
}

.email h4{
    color: black;
    font-size: 20px;
}

.contact a{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.phone h4{
    color: black;
    font-size: 20px;
}

.phone h5{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
    


 @media(max-width: 1270px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4px;
        transition: .2s;
    }
    .section{
        padding: 80px 4%;
        transition: .2s;
    }

    :root{
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media(max-width:900px){
    .bar img{
        width: 100%;
    }
    .home{
        height: 85vh;
    }
    .img{
        height: auto;
    }
    
    .actionBtns{
        margin-top: 20px;
        right: -60px;
    }

    .work{
        display: block;
    }

    .work h1{
        font-size: 50px;
        width: 1000px;
        margin: -20px auto;
        text-align:justify;
    }

    .about h1{
        text-align: justify;
    }

    .about img{
        padding-left: 20px;
    }

    .service h1{
        text-align: justify;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }

    .navbar a{
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px dotted var(--text-color);
    }

    .navbar a:hover{
        background: burlywood;
    }
    .navbar.active{
        top: 100%;
    }

} 
